@page
@model PrivacyModel
@{
    ViewData["Title"] = "ESTACIONES METEOROLÓGICAS";
}
<h1>@ViewData["Title"]</h1>
<!--<section id="InfoEsta">
    <h3>INFORMACIÓN GENERAL</h3>
    <p>Información realacionada con las estaciones meteorológicas

    </p>
</section>
<section id="ImgEsta">
    <h3>IMAGEN ESTACIÓN</h3>
    <img src="/Imagenes/estacion.jpg" alt="imagen" width="30%" height="30%" />
</section>
<section id="ConsEstacion">
    <h3>CONSULTA DATOS ESTACIÓN</h3>
    <form>
        <p>CODIGO ESTACIÓN <input type="text" name="CodEsta"></p>
        <p><input type="submit" value="consultar"></p>
    </form>
</section>-->

<body>
    
    <div class="contenedor">
        <div class="parte parte1">
            <section id="InfoEsta">
                <br>
                <h3>INFORMACIÓN GENERAL</h3>
                <p>Información realacionada con las estaciones meteorológicas

                </p>
            </section>
        </div>
        <div class="parte parte2">
            <section id="ImgEsta">
                <br>
                <h3>Clima</h3>
                <img src="/Imagenes/Clima.jpg" alt="imagen" width="60%" height="50%" />
            </section>
        </div>
        <div class="parte parte3">
            <section id="ConsEstacion">
                <br>
                <h3>CONSULTA DATOS ESTACIÓN</h3>
                <form>
                    <p>CODIGO ESTACIÓN <input type="text" name="CodEsta"></p>
                    <p><input type="submit" value="consultar"></p>
                </form>
            </section>
        </div>

    </div>
</body>
